.page-footer {
    width: 100%;
    height: 100%;
    text-align: center;
    /* font-size: 2rem; */
    margin-top: 1em;
    /* text-decoration: overline underline; */
    background-color:rgba(4, 1, 36, 1);
    color: white;
}
